# Sistema
Thumbs.db
.DS_Store

# Editores
.vscode/
.idea/

# Python (caso gere ícones de novo)
__pycache__/
*.pyc

# Node (caso use Bubblewrap/PWABuilder localmente)
node_modules/

# Áudios de teste (usados só pra calibrar a detecção do dado)
*.aac
*.wav
